In [0]:
val df = spark.read
              .option("header", "true")
              .options(Map("inferSchema" -> "true", "delimiter" -> "\t"))
              .csv("file:///team5/data/LabeledFile.csv")
df.count()
DF.printSchema()

puissance PSS
age_objet_assuree AGO
valeur_venale VV
valeur_neuve  VN
Charge_utile  CU
usage  USG
anciennete  ANC
activite ACT
classe CLS
delegation  DLG
age_client AGE
civilite  CIV
Risky RISKY

In [2]:
%spark
import org.apache.spark.sql.functions._

// Define column groups (for better organization in output)
val group1 = Seq("puissance", "age_objet_assuree", "valeur_venale", "valeur_neuve","Charge_utile", "usage", "anciennete")
val group2 = Seq( "activite", "classe", "delegation","age_client", "civilite", "Risky")

// Function to calculate null counts for a group of columns
def countNullsForGroup(group: Seq[String], df: org.apache.spark.sql.DataFrame): Unit = {
  val nullCounts = group.map { colName =>
    count(when(col(colName).isNull || col(colName) === "", colName)).alias(colName)
  }
  df.select(nullCounts: _*).show(truncate = false)
}

// Calculate and display null counts for each group
println("Group 1 Null Counts:")
countNullsForGroup(group1, DF)

println("Group 2 Null Counts:")
countNullsForGroup(group2, DF)

In [3]:
%spark
// Créer une nouvelle DataFrame avec uniquement les colonnes spécifiées
val newDf = dfwd.select(
  "puissance",
  "age_objet_assuree",
  "valeur_venale",
  "valeur_neuve",
  "Charge_utile",
  "usage",
  "anciennete",
  "activite",
  "classe",
  "delegation",
  "age_client",
  "civilite",
  "Risky"
)

// Afficher les premières lignes de la nouvelle DataFrame pour vérification
newDf.show(100)
newDf.count()

In [4]:
%spark
newDf.createOrReplaceTempView("dataset")

In [5]:
%sql
SELECT 
    Risky, 
    COUNT(*) AS count,
    (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM dataset)) AS percentage
FROM dataset
GROUP BY Risky

ORDER BY count DESC;

In [6]:
df.createOrReplaceTempView("dataset1")

In [7]:
%sql
select count(*)
from
(SELECT 
    N_SOUSCRIP, sum(sinistre) sin
FROM dataset1
-- WHERE sinistre > 0
GROUP BY N_SOUSCRIP
-- order by sin desc
)
where sin <= 0