In [0]:
%sh
ls /team5/data/

In [1]:
sc.hadoopConfiguration.set("fs.defaultFS", "hdfs://namenode:9000")

In [2]:
%sh
ls /flatFile.csv

## **DF :**

- <span style="color:orange;"> **df = data with duplicate**</span>  
- <span style="color:orange;">️ **dfwd = data without duplicate**</span>

In [4]:
val df = spark.read
              .option("header", "true")
              .options(Map("inferSchema" -> "true", "delimiter" -> "\t"))
              .csv("file:///team5/data/flatFile.csv")

In [5]:
val dfwd = spark.read
              .option("header", "true")
              .options(Map("inferSchema" -> "true", "delimiter" -> "\t"))
              .csv("file:///team5/data/flatFile.csv")
              .distinct

In [6]:
df.count

In [7]:
dfwd.count

In [8]:
df.show()

In [9]:
df.printSchema()

In [10]:
df.columns.foreach { column =>
  val distinctCount = df.select(column).distinct().count()
  println(s"Distinct Count for $column: $distinctCount")
}

In [11]:
println(s"Row count with duplicate: ${df.count()}")
println(s"Column count: ${df.columns.length}")
println(s"Distinct N_SOUSCRIP count: ${df.select("N_SOUSCRIP").distinct().count()}")
println(s"Distinct N_POLICE count: ${df.select("N_POLICE").distinct().count()}")
println(s"Distinct N_OBJET_ASS count: ${df.select("N_OBJET_ASS").distinct().count()}")

In [12]:
println(s"Row count without duplicate: ${dfwd.count()}")

In [13]:
println(s"Distinct N_SOUSCRIP without duplicate count: ${dfwd.select("N_SOUSCRIP").distinct().count()}")

In [14]:
df.createOrReplaceTempView("FLAT")

In [15]:
%sql
select *
from FLAT
limit 10


### **Interesting Labels:**
- <span style="color:blue;"> **puissance**</span>  
- <span style="color:blue;">️ **ag_objet_assuree**</span>  
- <span style="color:blue;"> **valeur_venale**</span>
- <span style="color:blue;"> **valeur_neuve**</span>  
- <span style="color:blue;"> ️**anciennete**</span>  
- <span style="color:blue;"> **classe**</span>
- <span style="color:blue;"> **age_client**</span>
- <span style="color:blue;"> **Type_renouvellement_police**</span>
- <span style="color:blue;"> **IsToutRisque**</span>

In [17]:
//How many Duplicate we have

In [18]:
val duplicateRows = df.groupBy(df.columns.map(col): _*)
                        .count()
                        .filter("count > 1")

In [19]:
duplicateRows.show(1)

In [20]:
// Are there missing values ?

In [21]:
df.select(df.columns.map(c => sum(when(col(c).isNull, 1).otherwise(0)).alias(c)): _*).show()

In [22]:
// Frequency Count
// Group and aggregate

In [23]:
df.groupBy("N_SOUSCRIP").count().orderBy(desc("count")).show(5, false)

In [24]:
df.groupBy("IsToutRisque").count().orderBy(desc("count")).show()

In [25]:
df.groupBy("classe").count().orderBy(desc("count")).show()

In [26]:
df.groupBy("Type_renouvellement_police").count().orderBy(desc("count")).show(4)

In [27]:
df.createOrReplaceTempView("FLAT")

In [28]:
%sql
SELECT 
    N_SOUSCRIP, 
    COUNT(*) AS count,
    (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM FLAT)) AS percentage
FROM FLAT
GROUP BY N_SOUSCRIP
ORDER BY count DESC
LIMIT 10;

In [29]:
%sql
SELECT *
FROM FLAT
WHERE N_SOUSCRIP = 642214
LIMIT 20

In [30]:
// many duplicate

In [31]:
// Test withot Duplicte

In [32]:
dfwd.createOrReplaceTempView("FLATWD")

In [33]:
%sql
SELECT 
    N_SOUSCRIP, 
    COUNT(*) AS count,
    (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM FLATWD)) AS percentage
FROM FLATWD
GROUP BY N_SOUSCRIP
ORDER BY count DESC
LIMIT 10;

In [34]:
%sql
SELECT *
FROM FLATWD
WHERE year = 2021
    AND N_SOUSCRIP = 642214
    AND N_POLICE = 1.01286336E8
    AND N_OBJET_ASS = "MOTOY01LG025"
ORDER BY N_OBJET_ASS DESC
LIMIT 20

In [35]:
// Here after i delete all duplicate 
// why i find client with same "N_SOUSCRIP" and "N_OBJET_ASS"

In [36]:
// e.g,. 
// N_SOUSCRIP=642214 and N_OBJET_ASS=1.01286336E8 and IsTourisque="yes"
// N_SOUSCRIP=642214 and N_OBJET_ASS=1.01286336E8 and IsTourisque="No"
// HoooooW ?!!!

In [37]:
/*I don't think you deleted the duplicates if I'm not wrong,you should do a val rowcount=dfWithotDuplicate.count()
and see if the row count is the same,besides this,seems like they merged the files with little to no logic and we have to clean up,maybe one the full dups are dropped we'll be left with one year per entry,sinon it's best to get rid of the duplicates anyways and then check the logic and consistency etc(I wasn'table to drop dups :') )*/
//I saw that there are two yes,but not where the dups were deleted
//ok

In [38]:
// no i have been difine two dataframes 
// we will descus it later in the meet

In [39]:
%sql
SELECT *
FROM FLATWD
WHERE N_SOUSCRIP = 657019
      AND marque = "ISUZU"
      AND N_OBJET_ASS = "1212TU68"
      AND year = 2018
ORDER BY year asc
LIMIT 20

In [40]:

/* 
First remark:
We have clients with the same N_SOUSCRIP, N_OBJET_ASS, and year but different IsToutRisque values.
Second remark:
In the IsToutRisque label, we have 3,885,221 "No" and 220,156 "Yes."
solution:
To address this imbalance, we need to create another DataFrame that retains clients with the same N_SOUSCRIP, N_OBJET_ASS, and year, but keeps only those where IsToutRisque is set to "Yes." This will help balance our data.
*/

In [41]:
%sql
SELECT 
    IsToutRisque, 
    COUNT(*) AS count,
    (COUNT(*) * 100.0 / (SELECT COUNT(*) FROM FLATWD)) AS percentage
FROM FLATWD
GROUP BY IsToutRisque

ORDER BY count DESC;

 
<span></span>
<span style="color:red; font-size:30px; font-weight:bold;">I always encounter the same memory issue, and I can't complete my work without fixing it !!!!!!!!</span>